# Ignore Python virtual environment
venv/
.env

# Byte-compiled / compiled files
__pycache__/
*.py[cod]

# Ignore SQLite database file
books.db
*.sqlite3

# Ignore logs
logs/
*.log

# Ignore cache directories
.cache/

.DS_Store
*.pid
*.swp
*.swo
*.swn
.idea/
.vscode/
node_modules/
build/
dist/
*.db